html, body, #mapid {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

#legend, .info.legend {
    background-color: white !important;
    padding: 10px;
}

.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.popup-content {
    font-size: 14px;
}

#webmapTitle {
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 2px rgb(28, 12, 12);
}

#header {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0px;
    right: 0;
    height: 75px;
    background-color: #034694;
    box-shadow: rgb(0 0 0 / 50%) 2px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 3;
    background-color: #034694;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer i {
    padding: 4px;
    cursor: pointer;
  }
  
  .footer:hover i:hover {
    color: #7ab236;
  }
  
  .footer a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  
  